<link rel="stylesheet" href="/stylesheets/campgrounds.css">
<div class="container">
    <h1>Edit Campground</h1>
    <!-- the action ?_method=PUT represent the edit request -->
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="editCamp">
            <label for="name">Name</label>
             <!-- the name of the input is saved in the obj campground then used in the campground edit route -->
            <input id="name" type="text" name="campground[name]" value="<%= campground.name%>">
                    
            <label for="price">Price</label>
            <input id="price" type="number" name="campground[price]" value="<%= campground.price%>" min="0.01" step="0.01">
                
            <label for="image">Image url</label>
            <input id="image" type="text" name="campground[image]" value="<%= campground.image%>">
               
            <label for="description">Description</label>
            <textarea maxlength="120" id="description" type="text" name="campground[description]" value="<%= campground.description%>"><%= campground.description%></textarea>
               
            <input class="submitBtn" type="submit" value="Submit">
            <a href="/campgrounds">Go Back</a>
        </div>
    </form>
</div>