<%include ../partials/header%>
<link rel="stylesheet" href="/stylesheets/show.css">
<div class="container">
  <div class="campImg">
    <img src="<%= campground.image%>">
  </div>
  <div class="campInfo">
    <h1><%= campground.name%></h1>
    $<%= campground.price%>/night
    <p class="campDesc"><%= campground.description%></p>
    <p class="campRight"><em>Submitted By <%= campground.author.username%></em></p>

    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
      <div class="campRight">
      <!-- currentUser is defined in app.js, app.use  -->
        <a href="/campgrounds/<%= campground._id%>/edit">Edit</a>
        <!-- Use a form to create a POST request with _method to delete-->
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
      </div>
    <% } %>
  </div>

  <div class="addComment">
    <a href="/campgrounds/<%= campground._id%>/comments/new"> Add A New Comment </a>
  </div>
  <div class="comments"> 
    <%campground.comments.forEach(function(comment){ %>
      <div class="commentsInfo">
        <ul class="post">
          <li><strong><%= comment.author.username%></strong>
             <span>10 days ago</span>
          </li>
          <hr>
          <li><p><%= comment.text%></p></li>
        </ul>
      </div>
   
      <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
        <ul class="editComment">
          <li><a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit">
            Edit</a></li>
          <form action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
          <li><input type="submit" value="Delete" name="Delete"></li></form>
        </ul>
      <% }%>
    <% })%>
  </div>                                          
<%include ../partials/footer%>